<h3>Добро пожаловать, @ViewData["UserEmail"]!</h3>
<div class="text-start mt-3 cart-buttons">
    <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary">Вернуться на главную страницу</a>
</div>