@{
    ViewData["Title"] = "Детали заказа";
}

@using (Html.BeginForm("Index", "Order", FormMethod.Post))
{
    <div class="container-fluid">
        <div class="row">
            <div class="mb-3 col-6">
                <label class="form-label">Ваше имя:</label>
                <input type="text" name="Name" class="form-control">
            </div>
            <div class="mb-3 col-6">
                <label class="form-label">Электронная почта:</label>
                <input type="email" name="Email" class="form-control">
                <div id="emailHelp" class="form-text">Ваш электронный адрес никогда не будет передан третьей стороне.</div>
            </div>

            <div class="mb-3 col-6">
                <label class="form-label">Телефон:</label>
                <input type="tel" name="Phone" class="form-control">
            </div>
            <div class="mb-3 col-6">
                <label class="form-label">Адрес доставки:</label>
                <input type="text" name="Address" class="form-control">
            </div>

            <div class="mb-3 col-6">
                <label class="form-label">Дата получения:</label>
                <input type="date" name="DeliveryDate" class="form-control">
            </div>

            <button type="submit" class="btn btn-primary">Отправить</button>
        </div>
    </div>
}