@model Cart

@{
    ViewData["Title"] = "Детали заказа";
}
<div class="container">
    <form method="post" asp-controller="Order" asp-action="Index">
        <div class="row">
            <h2 class="section-title"><span>Оформление заказа</span></h2>
            <div class="col-lg-8 mb-3 mt-4">
                <div class="checkout-content p-3 h-100 bg-white">
                    <h5 class="section-title bg-white">Детали заказа:</h5>
                    <div class="row g-3">
                        <div class="col-md-6">
                            <label class="form-label" >Ваше имя:</label>
                            <input name="Name" class="form-control" placeholder="Имя получателя товара">
                        </div>

                        <div class="col-md-6">
                            <label class="form-label" >Электронная почта:</label>
                            <input name="Email" type="email" class="form-control" placeholder="Электронная почта (Email)">
                        </div>

                        <div class="col-md-6">
                            <label class="form-label">Телефон:</label>
                            <input name="Phone" type="tel" class="form-control" placeholder="Телефон получателя товара">
                        </div>

                        <div class="col-md-6">
                            <label class="form-label">Адрес доставки:</label>
                            <input name="Address" class="form-control" placeholder="Адрес доставки товара">
                        </div>

                        <div class="col-md-6">
                            <label class="form-label">Способ получения:</label>
                            <select name="Delivery" class="form-select" aria-label="Способ получения:">
                                <option selected>Выберите cпособ получения товара</option>
                                <option value="Курьер">Курьер</option>
                                <option value="Самовывоз">Самовывоз</option>
                            </select>
                        </div>

                        <div class="col-md-6">
                            <label class="form-label">Дата получения:</label>
                            <input name="DeliveryDate" type="date" class="form-control">
                        </div>

                        <div class="col">
                            <label class="form-label">Комментарий:</label>
                            <textarea name="Comment" class="form-control" placeholder="Дополнительная информация" rows="2"></textarea>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 mb-3 mt-4">
                <div class="cart-summary p-3 sidebar h-100">
                    <h5 class="section-title"><span>Сумма заказа:</span></h5>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Продукт</th>
                                    <th style="min-width: 100px;">Кол-во</th>
                                    <th class="text-end" style="min-width: 100px;">Сумма, р.</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Items)
                                {
                                    <tr>
                                        <td>
                                            @item.Product.Name
                                        </td>
                                        <td>x @item.Quantity</td>
                                        <td class="text-end">@item.Cost()</td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td>Итог:</td>
                                    <td colspan="3" class="text-end">@Model.Cost(), р</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="payment-method" id="payment-method1" value="payment-method1">
                        <label class="form-check-label" for="payment-method1">
                            Card Payment
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="payment-method" id="payment-method2" value="payment-method2">
                        <label class="form-check-label" for="payment-method2">
                            Payment on delivery
                        </label>
                    </div>

                    <div class="d-grid mt-3">
                        <button type="submit" class="btn btn-primary">
                            Оформить заказ
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>