@{
	ViewData["Title"] = "Заказ успешно оформлен";
}

<div class="container">
    <div class="row">
        <h3>Спасибо за ваш заказ!</h3>
        <div class="text-start mt-3 cart-buttons">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary">Вернуться на главную страницу</a>
        </div>
    </div>
</div>