<div><a asp-controller="Order" asp-action="GetOrders">Заказы</a></div>
<div><a asp-controller="User" asp-action="GetUsers">Пользователи</a></div>
<div><a asp-controller="Role" asp-action="GetRoles">Роли</a></div>
<div><a asp-controller="Product" asp-action="GetProducts">Продукты</a></div>