<div class="admin-menu">
    <div><a asp-controller="Order" asp-action="Index"><i class="fa-solid fa-cart-shopping"></i> Заказы</a></div>
    <div><a asp-controller="User" asp-action="Index"><i class="fa-solid fa-users-gear"></i> Пользователи</a></div>
    <div><a asp-controller="Role" asp-action="Index"><i class="fa-solid fa-user-tag"></i> Роли</a></div>
    <div><a asp-controller="Product" asp-action="Index"><i class="fa-solid fa-basket-shopping"></i> Продукты</a></div>
</div>