@model List<OnlineShopWebApp.Areas.Administrator.Models.Role>
@{
    ViewData["Title"] = "Список ролей";
    int i = 1;
}

@if (Model == null || Model.Count == 0)
{
    <h3>Список ролей пуст!</h3>
    <p><a class="btn btn-primary float-start mb-3" asp-controller="Role" asp-action="AddRole">Добавить новую роль</a></p>
}
else
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                @await Html.PartialAsync("AdminMenu")
            </div>
            <div class="col-9">
             <h3>Список ролей</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">№</th>
                            <th scope="col">Наименование роли</th>
                            <th scope="col">Описание</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    @foreach (var role in Model)
                    {
                        <tbody class="table-group-divider">
                            <tr>
                                <th scope="row">@i</th>
                                <td>@role.Name</td>
                                <td>@role.Description</td>
                                <td><a class="btn btn-danger" asp-controller="Role" asp-action="DeleteRole" asp-route-name="@role.Name">Удалить</a></td>
                            </tr>
                        </tbody>
                        i++;
                    }
                </table>
                <p><a class="btn btn-primary float-end mb-3" asp-controller="Role" asp-action="AddRole">Добавить новую роль</a></p>
            </div>
        </div>
    </div>
}
