@model int

<a asp-area="" asp-controller="Compare" asp-action="Index" class="btn p-1">
    <i class="fa-solid fa-code-compare icons"></i>
    @if (Model > 0)
    {
        <span class="badge text-bg-primary cart-badge bg-danger rounded-circle">@Model</span>
    }
</a>