<div class="container">
	<div class="row">
		<div class="col-md-3">
			@await Html.PartialAsync("AdminMenu")
		</div>
		<div class="col-md-9">
			<h3 class="section-title mb-3"><span>Панель администратора</span></h3>
		</div>
	</div>
</div>