<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-6">
                <h4>Информация</h4>
                <ul class="list-unstyled">
                    <li><a asp-controller="Home" asp-action="Index">Главная</a></li>
                    <li><a href="#">Оплата</a></li>
                    <li><a href="#">Доставка</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </div>

            <div class="col-md-3 col-6">
                <h4>Часы работы</h4>
                <ul class="list-unstyled">
                    <li>
                        117218, г. Москва,
                        пр-кт Нахимовский, дом 30/43
                    </li>
                    <li>Пн-Пт: 09.00-18.00</li>
                </ul>
            </div>

            <div class="col-md-3 col-6">
                <h4>Контакты</h4>
                <ul class="list-unstyled">
                    <li><a href="tel:+749975555555">7 (499) 555-55-55</a></li>
                    <li></li>
                </ul>
            </div>

            <div class="col-md-3 col-6">
                <h4>Социальные сети:</h4>
                <ul class="footer-icons">
                    <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-square-facebook"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-square-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<button id="top">
    <i class="fa-solid fa-angles-up"></i>
</button>