<div class="admin-menu">
    <div><a asp-controller="Account" asp-action="Index"><i class="fa-solid fa-address-card"></i> Мой профиль</a></div>
    <div><a asp-controller="Account" asp-action="GetOrders"><i class="fa-solid fa-cart-shopping"></i> Мои заказы</a></div>
</div>