version: '3.4'
services:
  onlineshopwebapp:
    container_name: online_shop_app_mvc
    image: ${DOCKER_REGISTRY-}onlineshopwebapp
    build:
      context: .
      dockerfile: OnlineShopWebApp/Dockerfile
    ports:
        - 80:80
        - 443:443
    depends_on:
        - mssqlserver
    restart: unless-stopped
    
  mssqlserver:
    container_name: online_shop_app_db
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
        ACCEPT_EULA: "Y"
        MSSQL_SA_PASSWORD: "Strong!Passw0rd"
    restart: unless-stopped
